/*@media (-webkit-min-device-pixel-ratio: 1.5)
section#app, section#app-sm {

  background-size: 100%;
  background-position: 50%;
  max-height: 500px !important;
}

@media (max-width: 768px)
section#app, section#app-sm {
  height: 200px !important;
  background-size: 100%;
  background-position: 50%;
}

@media (min-width: 1200px)
section#app, section#app-sm {
  background-size: 100%;
  background-position: 50%;
  max-height: 500px;
}
*/



